.appHeader-container{
    background-color: var(--salt-color-cobalt-900);
    width: 100%;
    padding:1rem 2rem 0rem 1rem;
    position: sticky;
    top: 0px;
    z-index: 9999;
}


.appHeader-text-class{
    color: white;
    cursor: pointer;
}

.appHeader-icon-class{
    margin-right: 0.7rem;
    cursor: pointer;
}

.appHeader-tab-container{
    margin-top: 1rem;
    background-color: var(--salt-color-cobalt-900);
}





