/* Breadcrumbs.css */
.breadcrumb-link {
    font-size: 15px;
    color: #5a5a5a !important;
    text-decoration: none;
}

.breadcrumb-separator {
    font-size: 15px;
    color: #5a5a5a;
    margin: 0px -1.5rem 1.5rem -1.5rem !important
}