.page {
  padding: 24px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #2a2a2a;
}

.tabs-toggle {
  display: flex;
  background-color: #e0e0e0;
  padding: 4px;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 20px;
}

.tab-toggle-item {
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.tab-toggle-item.active {
  background-color: white;
  color: #000;
  font-weight: 500;
}


.saltTabNext.saltTabNext-selected::after {
  background-color: rgb(21, 92, 147);
  /* If applicable */
}


/* ReferenceDataPage.css */
.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.checkbox-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 2rem;
}

.checkbox-container {
  display: flex;
  gap: 1rem;
}